<?xml version="1.0" encoding="UTF-8"?>
<controller-info>
    <controller-host>jetblue.saas.appdynamics.com</controller-host>
    <controller-port>443</controller-port>
    <controller-ssl-enabled>true</controller-ssl-enabled>
    <enable-orchestration>false</enable-orchestration>
    <account-name>jetblue</account-name>
    <account-access-key>8055f800e092</account-access-key>
    <application-name>{{ appname }}</application-name>
    <tier-name>{{ tiername }}</tier-name>
    <node-name>{{ nodename }}</node-name>
    <force-agent-registration>false</force-agent-registration>
    <machine-path></machine-path>

</controller-info>
